
:root {
    --asix-color: #fff;
    --iconos-color: #fff;
    --texto-color-iconos: #fff;
    --color-admision: #92092B;
    --color-contenido-admision: #000;
}
.container__section-asix {
    background: linear-gradient(#000B, #000B), url(../../public/picture/desktop/hombre-joven-que-mira-el-tiro-medio-del-probador-de-fibra-optica.jpg) no-repeat center / cover;
}

.iconos {
    color: var(--iconos-color);
    font-size: 2rem;
}

/*
    NAVBAR STICKY
*/

#sticky-navbar {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    width: 100%;
    background-color: black;
    /* Sin position fixed o sticky para que quede debajo en flujo normal */
    position: static;
    z-index: 99;
  }
  
  #sticky-navbar.visible {
    opacity: 1;
    pointer-events: auto;
  }
  
  
  
  
/**/
/* Estado inicial: texto invisible y desplazado a la izquierda */
/* Animaciones iniciales para el scroll */

