
:root{
    /*  VARIABLES PARA NAVBAR   */
    --header-colorContact: #000;
    --header-gap: 20px;
    --header-padding: 0 20px;
    --font-size-navbar: 14px;
    --color-enlace--contact: #92092B;
    --bg-color-header: #fff;
    --color-contact: #fff;

    /*  ICONOS NAVBAR   */
    --margin--icons: 0 0 0 5px;

    /*  VARIABLES PARA HOVER Y TRANSICIONES */
    --navbar-hover: #f00;
    --navbar-bg-color: #fff;
    --transition-navbar: 0.5s;
}

