:root {
    --h2-color: #000;
    --h2--color-sant: #92092B;
    --color-saber-mas: #92092B;
}

.container__section-estudios {
    background: linear-gradient(#0009, #0009), url(../../public/gif/5b2a7ea7ee607874601896.gif) no-repeat center / cover;
}