.container__section-internacional{
    background: linear-gradient(#000B, #000B), url(../../public/picture/desktop/pexels-olly-3769118.jpg) no-repeat center / cover;
}

.container__section-intercambio {
    background: linear-gradient(#000B, #000B), url(../../public/picture/desktop/pexels-george-pak-7972313.jpg) no-repeat center / cover;
}

.container__section-erasmus {
    background: linear-gradient(#000B, #000B), url(../../public/picture/desktop/pexels-chuchuphinh-1164572.jpg) no-repeat center / cover;
}

.container__section-idioma {
    background: linear-gradient(#000B, #000B), url(../../public/picture/desktop/pexels-altabena-10142678.jpg) no-repeat center / cover;
}